<h1>Profile details</h1>


<table>
 <tr>
  <th>firstname</th>
  <th>secondname</th>
  <th>email</th>
 </tr>
<tr>
<td><%=@user.firstname%></td>
<td><%=@user.secondname%></td>
<td><%=@user.email%></td>
<td><%= link_to 'Edit',user_edit_path %></td>
<td><%= link_to 'Update',user_update_path(@user)%></td>
</tr>
</table>
